body {
  background-color: #DC143C;
  color: white;
  font-family: Arial;
}

#registrationField {
  background-color: #1e2124;
  border: #7FFF00 solid;
  border-radius: 5px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 200px;
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 40px;
}

input {
  border: #7FFF00 solid;
  background-color: #2C2F33;
  color: white;
  font-family: Arial;
  font-size: 30px;
  height: 60px;
  width: 500px;
}