body {
  background-color: #DC143C;
  color: white;
}

#pfp {
  position: absolute;
  top: 12%;
  left: 36.3%;
}

#username {
  position: absolute;
  top: 35%;
  /*left: 32.5%;*/
  padding-left: 10px;
  padding-right: 10px;
  font-size: 53px;
  font-family: Arial;
}

#test {
  display: block;
  text-align: center;
}